{% extends "base_auth.html" %}

{% block content %}
    {% load static %}
    <div class="main">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Save Music">
        </div>
        <p class="head_text">Смена пароля</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="login-form-inner">
                <div class="form-col">
                    <label for="email">Почта:</label>
                    <div class="form-part-row">
                        <input type="email" name="email" id="email" required>
                    </div>
                </div>
            </div>
            {% if form.email.errors %}
                <p id="error-message">{{ form.email.errors }}</p>
            {% endif %}
            <input class="green-button" type="submit" value="Сменить пароль" />
        </form>
    </div>

{% endblock %}
