{% extends "base_auth.html" %}

{% block content %}
    {% load static %}
    <div class="main">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Save Music">
        </div>
        {% if validlink %}
            <p class="head_text">Пожалуйста, введите и подтвердите новый пароль</p>
            <form action="." method="post">
                {% csrf_token %}
                <div class="login-form-inner">
                    <div class="form-col">
                        <label for="new_password1">Новый пароль:</label>
                        <div class="form-part-row">
                            <input type="password" name="new_password1" id="new_password1" required>
                        </div>
                    </div>
                </div>
                <div class="login-form-inner">
                    <div class="form-col">
                        <label for="new_password2">Подтверждение пароля:</label>
                        <div class="form-part-row">
                            <input type="password" name="new_password2" id="new_password2" required>
                        </div>
                    </div>
                </div>
                {% if form.new_password1.errors or form.new_password2.errors %}
                    {{ form.new_password1.errors }}
                    <br>
                    {{ form.new_password2.errors }}
                {% endif %}
                <input class="green-button" type="submit" value="Сменить пароль" />
            </form>
        {% else %}
            <p class="head_text">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс ещё раз</p>
        {% endif %}
    </div>

{% endblock %}
