@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    position: relative
}

input{
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #000;
}

p, li, label, input, a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
}

h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
}

.bolded{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #F8F9FA;
}

.sidebar{
    width: 216px;
    height: 100vh;
    padding: 16px 0 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    max-height: 100vh;
}

.sidebar-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sidebar-header > p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.black-line{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background-color: transparent;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    height: 1px;
    color: inherit;
    border: 0;
    opacity: 0.25;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}

.navbar>.nav-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0 10px;
    gap: 10px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.navbar>.nav-row>p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar>.active-row{
    background: #FFFFFF;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.navbar>.active-row>p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;

    height: calc(38px + 40px);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    overflow-y: auto;
    max-height: calc(100vh - 38px - 40px);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

#navbar-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.links>img{
    margin-right: 5px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    background: #FFFFFF;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    border-radius: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin: 0 auto;
    width: calc(100vw - 216px - 20px - 20px);
}

.row>.text-show-hide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.green-fill{
    background-color: #5BB75D;
    padding: 5px;
    border-radius: 3px;
}

.green-fill>p{
    color: white;
}

.green-fill>a{
    color: white;
}

.green-fill>p>a{
    color: white;
}

ol, li{
    overflow: visible;
    margin-left: 10px;
    margin-bottom: 5px;
    line-height: 22px;
}

.green-a{
    color: white;
    background-color: #5BB75D;
    box-shadow: 0 0 0 3px #5BB75D;
    border-radius: 3px;
    margin: 3px;
}

.submit-inp{
    color: white;
    outline: 0;
    border: 0;
    outline-offset: 0;
    background-color: #5BB75D;
    box-shadow: 0 0 0 3px #5BB75D;
    border-radius: 3px;
    margin: 10px 3px 3px;
}

.form-inner {
   padding: 10px;
}
.form-inner input, .form-inner textarea {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #5BB75D;
   border-bottom: 4px solid #54986A;
   color: white;
   font-size: 14px;
}
.form-inner textarea {
   resize: none;
}
.form-inner h3 {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}

.multi-text>p{
    margin-bottom: 5px;
}

.blue-a{
    color: white;
    background-color: #5181B8;
    border-radius: 4px;
    border: 0;
    padding: 7px 16px 8px;
    font-size: 12.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.auth-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.blue-ol{
    padding: 10px;
    background-color: #D8ECF5;
    border-radius: 5px;
}

.blue-ol>ol>li{
    color: #31708F;
}
